name: Test
on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - run: npm install -g pnpm
      - name: Restore Project
        run: dotnet restore
      - name: Build Project
        run: dotnet build --no-restore
      - name: Ensure browsers are installed
        run: pwsh E2E.Tests/bin/Debug/net10.0/playwright.ps1 install --with-deps chromium-headless-shell
      - name: Test Project
        run: dotnet test
